.info {
    margin-left: 8%;
    width: 20%;
    height: auto;
    border-right: 1px solid #e9e9e9;
}

.welcome {
    border-bottom: 1px solid #e9e9e9;
    background-color: #f4f4f4;
    padding: 16px 24px;
    text-align: center;
}

.applications {
    color: #a3a2a2;
    font-size: 20px;
    text-align: center;

}

.app {
    border-right: 1px solid #e9e9e9;
}

.schedule {
    margin-top: 10px;
    color: #a3a2a2;
    font-size: 20px;
}

.phoneNumber {
    color: black;
}

.textAlignEnd {
    margin-left: 30%;
}

.workDay {
    margin-top: 10px;
    color: black;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}

.public {
    color: #a3a2a2;
    font-size: 20px;
    border-bottom: 1px solid #e9e9e9;
}

.cursorPointer {
    cursor: pointer;
}

.otherInfo {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e9e9e9;
}

.a {
    font-size: 16px;
    color: #3e77aa;
}

.productLabel {
    text-align:start;
    color: #a3a2a2;
    font-size: 15px;
    border-bottom: 1px solid #e9e9e9;
}

.colorBlack{
    color: black;
}

.textAlignCenter{
    text-align: center;
}

@media (max-width: 1600px) {
    .info {
        display: none;
    }
}