.productItem {
    height: 400px;
    width: 250px;
    background: white;
    text-align: center;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

.img {
    margin: 15px;
    /*!*width: 100px;*!*/
    /*!*height: 130px;*!*/
}

.fontSize18 {
    font-size: 18px;
}

.title {
    margin-left: 20px;
    margin-right: 10px;
    text-align: left;
}

.price {
    margin-left: 20px;
    text-align: left;
    font-size: 30px;
    color: #f84147;
}

.isTrue {
    text-align: left;
    color: #019040;
    font-size: 14px;
    margin-left: 20px;
}

.cartImg{
    position: absolute;
    height: 35px;
    width: 40px;
    cursor: pointer;
    margin-left: 80px;

}

.scaleImg{
    position: absolute;
    height: 35px;
    width: 40px;
    cursor: pointer;
    margin-top: 75px;
    margin-left: 80px;
}

.likeImg{
    position: absolute;
    height: 35px;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 80px;

}

@media (max-width: 1600px) {
    .productItem {
        border: 1px solid #dcdcdc;
        margin: auto;
    }
}
