.productList {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 1600px) {
    .productList {
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
    }
}






